<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.silencedut.fpsviewer">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
                android:name=".datashow.FpsChartActivity"
                android:launchMode="singleTask">
        </activity>

        <activity
                android:name=".datashow.JankDetailsActivity"
                android:launchMode="singleTask">
        </activity>

        <activity
                android:name=".datashow.JankStackInfosActivity"
                android:launchMode="singleTop">
        </activity>
    </application>
</manifest>
